<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Randbedingungen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<p> Was sind Randbedingungen in diesem Fall? Hier evtl. noch (toggle) Button:Beispiele einfügen. </p>
<p>Welche Randbedingungen treffen Sie für Ihr Szenario?</p>
<p>Geben Sie mindestens 2 Randbedingungen ein:</p>

<!-- Für Erklärungen siehe annahmen.html (sehr ähnlicher Code) -->

<form #randbedingungenForm="ngForm">
  <ion-list>
    <ion-item>
      <ion-label stacked for="Randbedingung1">Randbedingung 1</ion-label>
      <ion-textarea type="text" placeholder="Hier Ihre erste Randbedingung eingeben" 
	  [(ngModel)]="randbedingung1" name="Randbedingung1"
	  (change)="updateRandbedingung('randbedingung1', randbedingung1, begruendung1)"
	  required minlength="20" maxlength="100" #Randbedingung1="ngModel">
	  </ion-textarea>
    </ion-item>
	<div *ngIf="Randbedingung1.errors && (Randbedingung1.dirty || Randbedingung1.touched)"
    class="alert alert-danger">
	  <div [hidden]="!Randbedingung1.errors.required">
        <p>Bitte geben Sie eine Randbedingung ein.</p>
      </div>
      <div [hidden]="!Randbedingung1.errors.minlength">
        <p>Ihre Randbedingung sollte mindestens 20 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Randbedingung1.errors.maxlength">
        <p>Ihre Randbedingung sollte nicht länger als 100 Zeichen  sein</p>
      </div>
    </div>
	<ion-item [hidden]="!begruendung1 || !toggleVar">
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="begruendung1" name="Begruendung1" 
	  (change)="updateRandbedingung('randbedingung1', randbedingung1, begruendung1)" padding-left>
	  </ion-input>
	</ion-item>	
    <ion-item>
      <ion-label stacked for="Randbedingung2">Randbedingung 2</ion-label>
      <ion-textarea type="text" placeholder="Hier Ihre zweite Randbedingung eingeben" 
	  [(ngModel)]="randbedingung2" name="Randbedingung2"
	  (change)="updateRandbedingung('randbedingung2', randbedingung2, begruendung2)"
	  required minlength="20" maxlength="100" #Randbedingung2="ngModel">
	  </ion-textarea>
    </ion-item>
	<div *ngIf="Randbedingung2.errors && (Randbedingung2.dirty || Randbedingung2.touched)"
    class="alert alert-danger">
	  <div [hidden]="!Randbedingung2.errors.required">
        <p>Bitte geben Sie eine Randbedingung ein.</p>
      </div>
      <div [hidden]="!Randbedingung2.errors.minlength">
        <p>Ihre Randbedingung sollte mindestens 20 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Randbedingung2.errors.maxlength">
        <p>Ihre Randbedingung sollte nicht länger als 100 Zeichen  sein</p>
      </div>
    </div>
	<ion-item [hidden]="!begruendung2 || !toggleVar">
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="begruendung2" name="Begruendung2" 
	  (change)="updateRandbedingung('randbedingung2', randbedingung2, begruendung2)" padding-left>
	  </ion-input>
	</ion-item>	
    <ion-item [hidden]="!randbedingung2">
      <ion-label stacked for="Randbedingung3">Randbedingung 3</ion-label>
      <ion-textarea type="text" placeholder="Optional hier Ihre dritte Randbedingung eingeben" 
	  [(ngModel)]="randbedingung3" name="Randbedingung3"
	  (change)="updateRandbedingung('randbedingung3', randbedingung3, begruendung3)"
	  minlength="20" maxlength="100" #Randbedingung3="ngModel">
	  </ion-textarea>
    </ion-item>
	<div *ngIf="Randbedingung3.errors && (Randbedingung3.dirty || Randbedingung3.touched)"
    class="alert alert-danger">
      <div [hidden]="!Randbedingung3.errors.minlength">
        <p>Ihre Randbedingung sollte mindestens 20 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Randbedingung3.errors.maxlength">
        <p>Ihre Randbedingung sollte nicht länger als 100 Zeichen  sein</p>
      </div>
    </div>
	<ion-item [hidden]="!begruendung3 || !toggleVar">
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="begruendung3" name="Begruendung3" 
	  (change)="updateRandbedingung('randbedingung3', randbedingung3, begruendung3)" padding-left>
	  </ion-input>
	</ion-item>	
    <ion-item [hidden]="!randbedingung3">
      <ion-label stacked for="Randbedingung4">Randbedingung 4</ion-label>
      <ion-textarea type="text" placeholder="Optional hier Ihre vierte Randbedingung eingeben" 
	  [(ngModel)]="randbedingung4" name="Randbedingung4"
	  (change)="updateRandbedingung('randbedingung4', randbedingung4, begruendung4)"
	  minlength="20" maxlength="100" #Randbedingung4="ngModel">
	  </ion-textarea>
    </ion-item>
	<div *ngIf="Randbedingung4.errors && (Randbedingung4.dirty || Randbedingung4.touched)"
    class="alert alert-danger">
      <div [hidden]="!Randbedingung4.errors.minlength">
        <p>Ihre Randbedingung sollte mindestens 20 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Randbedingung4.errors.maxlength">
        <p>Ihre Randbedingung sollte nicht länger als 100 Zeichen  sein</p>
      </div>
    </div>
	<ion-item [hidden]="!begruendung4 || !toggleVar">
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="begruendung4" name="Begruendung4" 
	  (change)="updateRandbedingung('randbedingung4', randbedingung4, begruendung4)" padding-left>
	  </ion-input>
	</ion-item>
    <div [hidden]="!begruendung1 && !begruendung2 && !begruendung3 && !begruendung4" padding-bottom>
	  <ion-toggle float-right [(ngModel)]="toggleVar" name="ToggleVarRandbedingungen"></ion-toggle>
      <p float-right>Begründungen ein- und ausblenden: </p>
    </div>
  </ion-list>
</form>

<button ion-button [navPush]="ereignissePage"
[disabled]="!randbedingungenForm.form.valid">Weiter</button>


</ion-content>
