<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Randbedingungen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4 padding-left>Beschreibung</h4>
  <p padding-left padding-bottom>
    Nun geht es um die Randbedingungen, unter denen sich Ihre Aktivität abspielen soll. <br>
    Wenn sie einen Denkanstoß brauchen, klicken Sie auf die Glühlampe rechts.
  </p>
  <h6 padding-left>
    Welche Randbedingungen treffen Sie für Ihre Geschichte?
    Geben Sie mindestens 2 Randbedingungen ein!
  </h6>

<!-- Für Erklärungen siehe annahmen.html (sehr ähnlicher Code) -->
<ion-fab right middle>
  <button ion-fab color="light">
    <ion-icon name="bulb"></ion-icon>
  </button>
    <ion-fab-list side="left">
      <button>Klima in der Umgebung der Aktivität</button>
      <button>Region & Umwelt (Berge, Wald, Stadt, Büro, Uni) </button>
      <button>Körperliche Konstitution des Benutzers</button>

    </ion-fab-list>
</ion-fab>
<form #randbedingungenForm="ngForm">
  <ion-list>
    <ion-item>
      <ion-label stacked for="Randbedingung1">Randbedingung 1</ion-label>
      <ion-textarea type="text" placeholder="Hier Ihre erste Randbedingung eingeben" 
	    [(ngModel)]="randbedingung1" name="Randbedingung1"
	    (change)="updateRandbedingung('randbedingung1', randbedingung1, begruendung1)"
	    required minlength="30" maxlength="350" #Randbedingung1="ngModel" fz-elastic>
	  </ion-textarea>
    </ion-item>
	<div *ngIf="Randbedingung1.errors && (Randbedingung1.dirty || Randbedingung1.touched)"
    class="alert alert-danger">
	  <div [hidden]="!Randbedingung1.errors.required">
        <p>Bitte geben Sie eine Randbedingung ein.</p>
      </div>
      <div [hidden]="!Randbedingung1.errors.minlength">
        <p>Ihre Randbedingung sollte mindestens 30 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Randbedingung1.errors.maxlength">
        <p>Ihre Randbedingung sollte nicht länger als 350 Zeichen  sein</p>
      </div>
    </div>
	<ion-item [hidden]="!begruendung1 || !toggleVar">
	  <ion-label for="Begruendung1">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="begruendung1" name="Begruendung1" 
	  (change)="updateRandbedingung('randbedingung1', randbedingung1, begruendung1)" padding-left>
	  </ion-input>
	</ion-item>	
    <ion-item>
      <ion-label stacked for="Randbedingung2">Randbedingung 2</ion-label>
      <ion-textarea type="text" placeholder="Hier Ihre zweite Randbedingung eingeben" 
	    [(ngModel)]="randbedingung2" name="Randbedingung2"
	    (change)="updateRandbedingung('randbedingung2', randbedingung2, begruendung2)"
	    required minlength="30" maxlength="350" #Randbedingung2="ngModel" fz-elastic>
	    </ion-textarea>
    </ion-item>
	<div *ngIf="Randbedingung2.errors && (Randbedingung2.dirty || Randbedingung2.touched)"
    class="alert alert-danger">
	  <div [hidden]="!Randbedingung2.errors.required">
        <p>Bitte geben Sie eine Randbedingung ein.</p>
      </div>
      <div [hidden]="!Randbedingung2.errors.minlength">
        <p>Ihre Randbedingung sollte mindestens 30 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Randbedingung2.errors.maxlength">
        <p>Ihre Randbedingung sollte nicht länger als 350 Zeichen  sein</p>
      </div>
    </div>
	<ion-item [hidden]="!begruendung2 || !toggleVar">
	  <ion-label for="Begruendung2">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="begruendung2" name="Begruendung2" 
	  (change)="updateRandbedingung('randbedingung2', randbedingung2, begruendung2)" padding-left>
	  </ion-input>
	</ion-item>	
    <ion-item [hidden]="!randbedingung2">
      <ion-label stacked for="Randbedingung3">Randbedingung 3</ion-label>
      <ion-textarea type="text" placeholder="Optional hier Ihre dritte Randbedingung eingeben" 
	    [(ngModel)]="randbedingung3" name="Randbedingung3"
	    (change)="updateRandbedingung('randbedingung3', randbedingung3, begruendung3)"
	    minlength="30" maxlength="350" #Randbedingung3="ngModel" fz-elastic>
	    </ion-textarea>
    </ion-item>
	<div *ngIf="Randbedingung3.errors && (Randbedingung3.dirty || Randbedingung3.touched)"
    class="alert alert-danger">
      <div [hidden]="!Randbedingung3.errors.minlength">
        <p>Ihre Randbedingung sollte mindestens 30 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Randbedingung3.errors.maxlength">
        <p>Ihre Randbedingung sollte nicht länger als 350 Zeichen  sein</p>
      </div>
    </div>
	<ion-item [hidden]="!begruendung3 || !toggleVar">
	  <ion-label for="Begruendung3">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="begruendung3" name="Begruendung3" 
	  (change)="updateRandbedingung('randbedingung3', randbedingung3, begruendung3)" padding-left>
	  </ion-input>
	</ion-item>	
    <ion-item [hidden]="!randbedingung3">
      <ion-label stacked for="Randbedingung4">Randbedingung 4</ion-label>
      <ion-textarea type="text" placeholder="Optional hier Ihre vierte Randbedingung eingeben" 
	    [(ngModel)]="randbedingung4" name="Randbedingung4"
	    (change)="updateRandbedingung('randbedingung4', randbedingung4, begruendung4)"
	    minlength="30" maxlength="350" #Randbedingung4="ngModel"  fz-elastic>
	    </ion-textarea>
    </ion-item>
	<div *ngIf="Randbedingung4.errors && (Randbedingung4.dirty || Randbedingung4.touched)"
    class="alert alert-danger">
      <div [hidden]="!Randbedingung4.errors.minlength">
        <p>Ihre Randbedingung sollte mindestens 30 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Randbedingung4.errors.maxlength">
        <p>Ihre Randbedingung sollte nicht länger als 350 Zeichen  sein</p>
      </div>
    </div>
	<ion-item [hidden]="!begruendung4 || !toggleVar">
	  <ion-label for="Begruendung4">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="begruendung4" name="Begruendung4" 
	  (change)="updateRandbedingung('randbedingung4', randbedingung4, begruendung4)" padding-left>
	  </ion-input>
	</ion-item>
    <div [hidden]="!begruendung1 && !begruendung2 && !begruendung3 && !begruendung4" padding-bottom>
	  <ion-toggle float-right [(ngModel)]="toggleVar" name="ToggleVarRandbedingungen"></ion-toggle>
      <p float-right>Begründungen ein- und ausblenden: </p>
    </div>
  </ion-list>
</form>

<button ion-button [navPush]="ereignissePage"
[disabled]="!randbedingungenForm.form.valid">Weiter</button>


</ion-content>
