<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mein Szenario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list padding>
    <h4 padding>
      Erklärung der Szenariotechnik
    </h4>
    <div *ngIf="toggleErklaerung == true" no-lines padding>
      <p>Die Szenariotechnik, stellt die die Grundlage für die Erzählung Ihrer Geschichte dar.</p>
      <p>Vorrausschau in die Zukunft. Zitat für Definition.</p>
      <p>Es geht dabei einzig und allein um Ihre Meinungen und Vorstellungen, nicht um die Meinungen und Vorstellungen
         der Mehrheit der Menschen. Dabei steht nicht die einzige richtige Lösung im Mittelpunkt,
         sondern viel mehr der Wunsch, Erkenntnisse über mögliche Entwicklungen und deren Beeinflussung
         zu gewinnen.
      </p>
      <p>
         Szenarien können dabei zwei verschiedene Extremformen annehmen:<br>
      </p>
      <p> Negatives Extremszenario: Die negativste Entwicklung, die Sie sich für Ihre Geschichte ausdenken könnten. </p>
      <p> Positives Extremszenario: Die positivste Entwicklung, die Sie sich für Ihre Geschichte ausdenken könnten. </p>
      <p>   
         Es ist Ihnen überlassen, welche Form sie wählen oder ob sie eine Zwischenlösung beschreiben wollen.
         Lassen Sie ihrer Kreativität und Ihren Gedanken freien Lauf!
      </p>
    </div>
    <ion-item padding-top>
      <ion-label>Erklärung der Szenariotechnik ein- und ausblenden:</ion-label>
      <ion-toggle float-left [(ngModel)]="toggleErklaerung" name="ToggleVarErklaerung">
      </ion-toggle>  
    </ion-item>

    <h6 *ngIf="showstartbutton == true" padding>
        Ihr Szenario entwickelt sich in neun Schritten, bis schließlich ein möglichst vollständiges
        Bild Ihrer Wünsche, Bedürfnisse und Vorstellungen entstanden ist. <br>
        Starten Sie bei Schritt 1 - Problemfeld oder klicken Sie auf "Los geht's!"
    </h6>
    <h6 *ngIf="showsbewertungfertig == false && showstartbutton == false"  padding>
      Machen Sie bei dem Schritt weiter, bei dem Sie aufgehört haben. <br>
      Fertige Schritte erkennen Sie an dem Haken rechts:
    </h6>   
    <h6 *ngIf="showsbewertungfertig == true"  padding>
      Ihr Szenario ist fertig! Welchen Schritt wollen Sie erneut ansehen oder verändern?
    </h6>

    <button ion-item [navPush]="problemfeldPage">
      <ion-icon name="ios-globe-outline" item-left></ion-icon>
        Kategorie und Aktivität
	    <ion-icon name="md-checkmark" item-right *ngIf="showproblemdefinition == true"></ion-icon>  
    </button>
    <button ion-item [navPush]="problemdefinitionPage" *ngIf="showproblemdefinition == true">
      <ion-icon name="ios-pin-outline" item-left></ion-icon>
        Problemdefinition
      <ion-icon name="md-checkmark" item-right *ngIf="showschluesselfaktoren == true"></ion-icon>
    </button>
    <button ion-item [navPush]="schluesselfaktorenPage" *ngIf="showschluesselfaktoren == true">
      <ion-icon name="md-key" item-left></ion-icon>
        Schlüsselfaktoren
      <ion-icon name="md-checkmark" item-right *ngIf="showdeskriptorenanalyse == true"></ion-icon>
    </button>
    <button ion-item ion-item [navPush]="deskriptorenanalysePage"  *ngIf="showdeskriptorenanalyse == true">
      <ion-icon name="ios-trending-up-outline" item-left></ion-icon>
        Entwicklung der Schlüsselfaktoren
      <ion-icon name="md-checkmark" item-right *ngIf="showannahmen == true"></ion-icon>
    </button>
    <button ion-item [navPush]="annahmenPage" *ngIf="showannahmen == true">
      <ion-icon name="ios-flag-outline" item-left></ion-icon>
        Annahmen
      <ion-icon name="md-checkmark" item-right *ngIf="showrandbedingungen == true"></ion-icon>
    </button>
    <button ion-item [navPush]="randbedingungenPage" *ngIf="showrandbedingungen == true">
      <ion-icon name="ios-filing-outline" item-left></ion-icon>
        Randbedingungen
      <ion-icon name="md-checkmark" item-right *ngIf="showereignisse == true"></ion-icon>
    </button>
    <button ion-item [navPush]="ereignissePage" *ngIf="showereignisse == true">
      <ion-icon name="ios-warning-outline" item-left></ion-icon>
        Überraschende Ereignisse
      <ion-icon name="md-checkmark" item-right *ngIf="showszenarioerstellung == true"></ion-icon>
    </button>
    <button ion-item [navPush]="szenarioerstellungPage" *ngIf="showszenarioerstellung == true">
      <ion-icon name="ios-paper-outline" item-left></ion-icon>
        Szenarioerstellung
      <ion-icon name="md-checkmark" item-right *ngIf="showszenariobewertung == true"></ion-icon>
    </button>
    <button ion-item [navPush]="szenariobewertungPage" *ngIf="showszenariobewertung == true">
      <ion-icon name="ios-options-outline" item-left></ion-icon>
        Szenariobewertung
      <ion-icon name="md-checkmark" item-right *ngIf="showsbewertungfertig == true"></ion-icon>
    </button>
  </ion-list>

<button ion-button [navPush]="problemfeldPage" *ngIf="showstartbutton == true" class="los-gehts">Los geht's!</button>

</ion-content>
