<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Refresher mit pull-to-refresh Funktionalität. -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingText="Aktualisieren...">
    </ion-refresher-content>
  </ion-refresher>

  <h4>Überblick</h4>
  <h6 padding-vertical>Was wollen Sie tun? </h6>
  
  <ion-list>
  <button ion-item (click)="goToMeinSzenario()">
    <ion-icon name="ios-paper-outline" item-left></ion-icon>
      Mein Szenario ansehen
  </button>  

  <button ion-item [navPush]="bewertungenPage">
    <ion-icon name="ios-options-outline" item-left></ion-icon>
      Meine Bewertungen ansehen
  </button>
  <button ion-item [navPush]="benachrichtigungenPage">
    <ion-icon name="ios-chatboxes-outline" item-left></ion-icon>
      Meine Kommentare und Benachrichtigungen ansehen
  </button>
</ion-list>

<h4 padding-top>Beliebte Szenarien</h4>
<h6 padding-vertical>Bewerten und kommentieren Sie weitere Szenarien, um zusätzliche Punkte zu sammeln:</h6>

<ion-list>
  <div *ngFor="let szenario of szenarioList; let i=index"  (click)="goToSzenarioDetail(szenario.id)">
    <ion-item *ngIf="i<3">
	    <ion-card>
        <ion-card-header class="ion-card-header">Szenario von {{szenario.username}}</ion-card-header>
        <ion-card-content>
	        <p>Problemdefinition: {{szenario?.problemdefinition}}</p>
          <p>Kommentare: 3</p>
          <!-- Evtl. zu benutzen für Comment Count -->
          <!-- <a href='"http://www.test.de/" + {{szenario?.id}} + "/"' data-disqus-identifier='{{szenario?.id}}'>First article</a> -->
          <p>Durchschnittliche Bewertung: {{szenario?.average}} von 100 Punkten</p>
	      <button ion-button outline full>Ansehen</button>
        </ion-card-content>
	    </ion-card>
	  </ion-item>
  </div>
</ion-list>


<button ion-button [navPush]="bibliothekPage" icon-right padding>
  <ion-icon name="ios-search" padding-right></ion-icon>
  Bibliothek durchsuchen
</button>

</ion-content>
