<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>Überblick</h4>

  <p>Wenn Szenario (nachfolgende Liste) fertig, dann gelangt man mit dem einem Klick zur Übersichtsseite </p>
  
  <ion-list>
  <button ion-item [navPush]="meinSzenarioPage">
    <ion-icon name="ios-paper-outline" item-left></ion-icon>
      Ihr Szenario ansehen
  </button>  

  <button ion-item [navPush]="bewertungenPage">
    <ion-icon name="ios-clipboard-outline" item-left></ion-icon>
      Ihre Bewertungen ansehen
  </button>
  <button ion-item>
    <ion-icon name="ios-chatboxes-outline" item-left></ion-icon>
      Kommentare und Statistik ansehen
  </button>
</ion-list>

<h4>Beliebte Szenarien</h4>
<p>Bewerten und kommentieren Sie weitere Szenarien, um zusätzliche Punkte zu sammeln:</p>


<ion-list>
  <ion-item *ngFor="let szenario of szenarioList; let i=index"  (click)="goToSzenarioDetail(szenario.id)">
	  <div *ngIf="i<3">
	  <ion-card>
        <ion-card-header>Szenario von {{szenario.username}}</ion-card-header>
        <ion-card-content>
	      <p>Problemdefinition: {{szenario?.problemdefinition}}</p>
          <p>Kommentare: 3</p>
          <p>Durchschnittliche Bewertung: {{szenario?.average}} von 100 Punkten</p>
	      <button ion-button>Ansehen</button>
        </ion-card-content>
	  </ion-card>
	  </div>
	</ion-item>
</ion-list>


<button ion-button [navPush]="bibliothekPage">Bibliothek durchsuchen</button>

</ion-content>
