<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Überraschende Ereignisse</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<h4>Beschreibung</h4>
<p> Hier evtl. noch (toggle) Button:Beispiele einfügen. </p>
<p>Welche überraschenden Ereignisse können Sie sich für ihr Szenario vorstellen?</p>
<p>Geben Sie mindestens 2 überraschende Ereignisse ein:</p>

<!-- Für Erklärungen siehe annahmen.html (sehr ähnlicher Code) -->
<form #ereignisseForm="ngForm">
  <ion-list>
    <ion-item>
      <ion-label stacked for="Ereignis1">Ereignis 1</ion-label>
      <ion-textarea type="text" placeholder="Hier Ihr erstes Ereignis eingeben" 
	    [(ngModel)]="ereignis1" name="Ereignis1"
	    (change)="updateEreignis('ereignis1', ereignis1, begruendung1)"
	    required minlength="20" maxlength="100" #Ereignis1="ngModel" fz-elastic>
	    </ion-textarea>
    </ion-item>
	<div *ngIf="Ereignis1.errors && (Ereignis1.dirty || Ereignis1.touched)"
    class="alert alert-danger">
	  <div [hidden]="!Ereignis1.errors.required">
        <p>Bitte geben Sie ein Ereignis ein.</p>
      </div>
      <div [hidden]="!Ereignis1.errors.minlength">
        <p>Ihr Ereignis sollte mindestens 20 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Ereignis1.errors.maxlength">
        <p>Ihr Ereignis sollte nicht länger als 100 Zeichen  sein</p>
      </div>
    </div>
	<ion-item [hidden]="!begruendung1 || !toggleVar">
	  <ion-label for="Begruendung1">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="begruendung1" name="Begruendung1" 
	  (change)="updateEreignis('ereignis1', ereignis1, begruendung1)" padding-left>
	  </ion-input>
	</ion-item>
    <ion-item>
      <ion-label stacked for="Ereignis2">Ereignis 2</ion-label>
      <ion-textarea type="text" placeholder="Hier Ihr zweites Ereignis eingeben" 
	    [(ngModel)]="ereignis2" name="Ereignis2"
	    (change)="updateEreignis('ereignis2', ereignis2, begruendung2)"
	    required minlength="20" maxlength="100" #Ereignis2="ngModel" fz-elastic>
	    </ion-textarea>
    </ion-item>
	<div *ngIf="Ereignis2.errors && (Ereignis2.dirty || Ereignis2.touched)"
    class="alert alert-danger">
	  <div [hidden]="!Ereignis2.errors.required">
        <p>Bitte geben Sie ein Ereignis ein.</p>
      </div>
      <div [hidden]="!Ereignis2.errors.minlength">
        <p>Ihr Ereignis sollte mindestens 20 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Ereignis2.errors.maxlength">
        <p>Ihr Ereignis sollte nicht länger als 100 Zeichen  sein</p>
      </div>
    </div>
	<ion-item [hidden]="!begruendung2 || !toggleVar">
	  <ion-label for="Begruendung2">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="begruendung2" name="Begruendung1" 
	  (change)="updateEreignis('ereignis2', ereignis2, begruendung2)" padding-left>
	  </ion-input>
	</ion-item>
    <ion-item [hidden]="!ereignis2">
      <ion-label stacked for="Ereignis3">Ereignis 3</ion-label>
      <ion-textarea type="text" placeholder="Optional hier Ihr drittes Ereignis eingeben" 
	    [(ngModel)]="ereignis3" name="Ereignis3"
	    (change)="updateEreignis('ereignis3', ereignis3, begruendung3)"
	    minlength="20" maxlength="100" #Ereignis3="ngModel" fz-elastic>
	    </ion-textarea>
    </ion-item>
	<div *ngIf="Ereignis3.errors && (Ereignis3.dirty || Ereignis3.touched)"
    class="alert alert-danger">
      <div [hidden]="!Ereignis3.errors.minlength">
        <p>Ihr Ereignis sollte mindestens 20 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Ereignis3.errors.maxlength">
        <p>Ihr Ereignis sollte nicht länger als 100 Zeichen  sein</p>
      </div>
    </div>
	<ion-item [hidden]="!begruendung3 || !toggleVar">
	  <ion-label for="Begruendung3">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="begruendung3" name="Begruendung1" 
	  (change)="updateEreignis('ereignis3', ereignis3, begruendung3)" padding-left>
	  </ion-input>
	</ion-item>
    <ion-item [hidden]="!ereignis3">
      <ion-label stacked for="Ereignis4">Ereignis 4</ion-label>
      <ion-textarea type="text" placeholder="Optional hier Ihr viertes Ereignis eingeben" 
	    [(ngModel)]="ereignis4" name="Ereignis4"
	    (change)="updateEreignis('ereignis4', ereignis4, begruendung4)"
	    minlength="20" maxlength="100" #Ereignis4="ngModel" fz-elastic>
	  </ion-textarea>
    </ion-item>
	<div *ngIf="Ereignis4.errors && (Ereignis4.dirty || Ereignis4.touched)"
    class="alert alert-danger">
      <div [hidden]="!Ereignis4.errors.minlength">
        <p>Ihr Ereignis sollte mindestens 20 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Ereignis4.errors.maxlength">
        <p>Ihr Ereignis sollte nicht länger als 100 Zeichen  sein</p>
      </div>
    </div>
	<ion-item [hidden]="!begruendung4 || !toggleVar">
	  <ion-label for="Begruendung4">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="begruendung4" name="Begruendung1" 
	  (change)="updateEreignis('ereignis4', ereignis4, begruendung4)" padding-left>
	  </ion-input>
	</ion-item>
    <div [hidden]="!begruendung1 && !begruendung2 && !begruendung3 && !begruendung4" padding-bottom>
	  <ion-toggle float-right [(ngModel)]="toggleVar" name="ToggleVarEreignisse"></ion-toggle>
      <p float-right>Begründungen ein- und ausblenden: </p>
    </div>
  </ion-list>
</form>

<button ion-button [navPush]="szenarioerstellungPage"
[disabled]="!ereignisseForm.form.valid">Weiter</button>


</ion-content>
