page-szenarioerstellung {

  .toggle-text {
    width: 280px;
  }

  .weiter {
    display: block;
    float: left;
    clear: left;
    margin: 25px;
  } 

  .toggle {
    display: inline;
  }

  h5 {
    width: 80%;
    max-width: 600px;
  }

}
