<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ihre Szenarioerstellung</ion-title>
  </ion-navbar>
</ion-header>

<!-- Auf dieser Seite werden zunächst alle Eingaben aus Annahmen/Randbedingungen und Ereignissen
wiedergegeben. Sind sind hier weiterhin bearbeitbar. Danach findet die tatsächliche Szenarioerstellung statt. -->

<ion-content padding>
<!-- Hier wird ein ion-segment mit 4 Buttons erstellt. -->
<div padding>
  <ion-segment [(ngModel)]="hilfen">
    <ion-segment-button value="Annahmen" (click)="hideSchluesselfaktoren()">
      Annahmen
    </ion-segment-button>
    <ion-segment-button value="randbedingungen" (click)="hideSchluesselfaktoren()">
      Randbedingungen
    </ion-segment-button>
	<ion-segment-button value="ereignisse" (click)="hideSchluesselfaktoren()">
      Ereignisse
    </ion-segment-button>
	<ion-segment-button value="schluesselfaktoren" (click)="toggleSchluesselfaktoren()">
      Schlüsselfaktoren
    </ion-segment-button>
  </ion-segment>
</div>

<!-- Ab hier werden die einzelnen Segmente des ion-segments mit Leben gefüllt
     An sich ist dieser Code sehr ähnlich zu annahmen.html/randbedingungen.html und 
	 ereignisse.html. Hier wird allerdings keine Form zur 
     Kontrolle der Eingaben verwendet. Wenn der User hier weniger Text eingeben möchte, soll ihm das 
     gestattet sein. Er soll nur bei annahmen.ts dazu gezwungen werden, sich intensiv gedanken zu machen. -->
<div [ngSwitch]="hilfen">
  <ion-list *ngSwitchCase="'Annahmen'">
   <p>Hier können Sie ihre Annahmen einsehen und bearbeiten</p>
   <ion-item>
     <ion-label stacked>Annahme 1</ion-label>
     <ion-input type="text" placeholder="Hier Ihre erste Annahme eingeben" 
	   [(ngModel)]="annahme1" name="annahme1" (change)="updateAnnahme('annahme1', annahme1, annahmebegruendung1)">
	  </ion-input>
    </ion-item>
	<ion-item [hidden]="!annahmebegruendung1 || !toggleVar">
	  <ion-label for="Begruendung1">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="annahmebegruendung1" name="Begruendung1" 
	  (change)="updateAnnahme('annahme1', annahme1, annahmebegruendung1)" padding-left>
	  </ion-input>
	</ion-item>
    <ion-item>
    <ion-label stacked>Annahme 2</ion-label>
    <ion-input type="text" placeholder="Hier Ihre zweite Annahme eingeben" 
	  [(ngModel)]="annahme2" name="annahme2" (change)="updateAnnahme('annahme2', annahme2, annahmebegruendung2)">
	  </ion-input>
    </ion-item>
	<ion-item [hidden]="!annahmebegruendung2 || !toggleVar" >
	  <ion-label for="Begruendung2">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="annahmebegruendung2" name="Begruendung2" 
	  (change)="updateAnnahme('annahme2', annahme2, annahmebegruendung2)" padding-left>
	  </ion-input>
	</ion-item>
    <ion-item [hidden]="!annahme2">
    <ion-label stacked>Annahme 3</ion-label>
    <ion-input type="text" placeholder="Optional hier Ihre dritte Annahme eingeben" 
	  [(ngModel)]="annahme3" name="annahme3" (change)="updateAnnahme('annahme3', annahme3, annahmebegruendung3)">
	  </ion-input>
    </ion-item>
    <ion-item [hidden]="!annahmebegruendung3 || !toggleVar">
	    <ion-label for="Begruendung3">Begründung:</ion-label>
      <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
      [(ngModel)]="annahmebegruendung3" name="Begruendung3" 
	    (change)="updateAnnahme('annahme3', annahme3, annahmebegruendung3)" padding-left>
      </ion-input>
    </ion-item>
    <ion-item [hidden]="!annahme3">
      <ion-label stacked>Annahme 4</ion-label>
      <ion-input type="text" placeholder="Optional hier Ihre vierte Annahme eingeben" 
	    [(ngModel)]="annahme4" name="annahme4" (change)="updateAnnahme('annahme4', annahme4, annahmebegruendung4)">
	    </ion-input>
    </ion-item>
    <ion-item [hidden]="!annahmebegruendung4 || !toggleVar">
	    <ion-label for="Begruendung4">Begründung:</ion-label>
      <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
      [(ngModel)]="annahmebegruendung4" name="Begruendung4" 
	    (change)="updateAnnahme('annahme4', annahme4, annahmebegruendung4)" padding-left>
      </ion-input>
    </ion-item>
    <div [hidden]="!annahmebegruendung1 && !annahmebegruendung2 && !annahmebegruendung3 && !annahmebegruendung4" padding-bottom>
	  <ion-toggle float-right [(ngModel)]="toggleVar" name="ToggleVarAnnahmen"></ion-toggle>
      <p float-right>Begründungen ein- und ausblenden: </p>
    </div>
  </ion-list>
</div>
  
<div [ngSwitch]="hilfen">
  <ion-list *ngSwitchCase="'randbedingungen'">
    <p>Hier können Sie ihre Randbedingungen einsehen und bearbeiten</p>
    <ion-item>
      <ion-label stacked>Randbedingung 1</ion-label>
      <ion-input type="text" placeholder="Hier Ihre erste Randbedingung eingeben" 
	    [(ngModel)]="randbedingung1" name="randbedingung1"
	    (change)="updateRandbedingung('randbedingung1', randbedingung1, randbedingungbegruendung1)">
	    </ion-input>
    </ion-item>
	<ion-item [hidden]="!randbedingungbegruendung1 || !toggleVar">
	  <ion-label for="Randbedingungbegruendung1">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="randbedingungbegruendung1" name="Randbedingungbegruendung1" 
	  (change)="updateRandbedingung('randbedingung1', randbedingung1, randbedingungbegruendung1)" padding-left>
	  </ion-input>
	</ion-item>	
    <ion-item>
      <ion-label stacked>Randbedingung 2</ion-label>
      <ion-input type="text" placeholder="Hier Ihre zweite Randbedingung eingeben" 
	    [(ngModel)]="randbedingung2" name="randbedingung2"
	    (change)="updateRandbedingung('randbedingung2', randbedingung2, randbedingungbegruendung2)">
	    </ion-input>
    </ion-item>
	<ion-item [hidden]="!randbedingungbegruendung2 || !toggleVar">
	  <ion-label for="Randbedingungbegruendung2">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="randbedingungbegruendung2" name="Randbedingungbegruendung2" 
	  (change)="updateRandbedingung('randbedingung2', randbedingung2, randbedingungbegruendung2)" padding-left>
	  </ion-input>
	</ion-item>	
    <ion-item [hidden]="!randbedingung2">
      <ion-label stacked>Randbedingung 3</ion-label>
      <ion-input type="text" placeholder="Optional hier Ihre dritte Randbedingung eingeben" 
	  [(ngModel)]="randbedingung3" name="randbedingung3"
	  (change)="updateRandbedingung('randbedingung3', randbedingung3, randbedingungbegruendung3)">
	  </ion-input>
    </ion-item>
	<ion-item [hidden]="!randbedingungbegruendung3 || !toggleVar">
	  <ion-label for="Randbedingungbegruendung3">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="randbedingungbegruendung3" name="Randbedingungbegruendung3" 
	  (change)="updateRandbedingung('randbedingung3', randbedingung3, randbedingungbegruendung3)" padding-left>
	  </ion-input>
	</ion-item>	
    <ion-item [hidden]="!randbedingung3">
      <ion-label stacked>Randbedingung 4</ion-label>
      <ion-input type="text" placeholder="Optional hier Ihre vierte Randbedingung eingeben" 
	  [(ngModel)]="randbedingung4" name="randbedingung4"
	  (change)="updateRandbedingung('randbedingung4', randbedingung4, randbedingungbegruendung4)">
	  </ion-input>
    </ion-item>
	<ion-item [hidden]="!randbedingungbegruendung4 || !toggleVar">
	  <ion-label for="Randbedingungbegruendung4">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="randbedingungbegruendung4" name="Randbedingungbegruendung4" 
	  (change)="updateRandbedingung('randbedingung4', randbedingung4, randbedingungbegruendung4)" padding-left>
	  </ion-input>
	</ion-item>
    <div [hidden]="!randbedingungbegruendung1 && !randbedingungbegruendung2
	&& !randbedingungbegruendung3 && !randbedingungbegruendung4" padding-bottom>
	  <ion-toggle float-right [(ngModel)]="toggleVar" name="ToggleVarRandbedingungen"></ion-toggle>
      <p float-right>Begründungen ein- und ausblenden: </p>
    </div>
  </ion-list>
</div>  

<div [ngSwitch]="hilfen">
  <ion-list *ngSwitchCase="'ereignisse'">
    <p>Hier können Sie ihre überraschenden Ereignisse einsehen und bearbeiten</p>
    <ion-item>
      <ion-label stacked>Ereignis 1</ion-label>
      <ion-input type="text" placeholder="Hier Ihre erstes Ereignis eingeben" 
	  [(ngModel)]="ereignis1" name="ereignis1"
	  (change)="updateEreignis('ereignis1', ereignis1, ereignisbegruendung1)">
	  </ion-input>
    </ion-item>
	<ion-item [hidden]="!ereignisbegruendung1 || !toggleVar">
	  <ion-label for="Ereignisbegruendung1">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="ereignisbegruendung1" name="Ereignisbegruendung1" 
	  (change)="updateEreignis('ereignis1', ereignis1, ereignisbegruendung1)" padding-left>
	  </ion-input>
	</ion-item>
    <ion-item>
      <ion-label stacked>Ereignis 2</ion-label>
      <ion-input type="text" placeholder="Hier Ihre zweites Ereignis eingeben" 
	  [(ngModel)]="ereignis2" name="ereignis2"
	  (change)="updateEreignis('ereignis2', ereignis2, ereignisbegruendung2)">
	  </ion-input>
    </ion-item>
	<ion-item [hidden]="!ereignisbegruendung2 || !toggleVar">
	  <ion-label for="Ereignisbegruendung2">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="ereignisbegruendung2" name="Ereignisbegruendung2" 
	  (change)="updateEreignis('ereignis2', ereignis2, ereignisbegruendung2)" padding-left>
	  </ion-input>
	</ion-item>
    <ion-item [hidden]="!ereignis2">
      <ion-label stacked>Ereignis 3</ion-label>
      <ion-input type="text" placeholder="Optional hier Ihre drittes Ereignis eingeben" 
	  [(ngModel)]="ereignis3" name="ereignis3"
	  (change)="updateEreignis('ereignis3', ereignis3, ereignisbegruendung3)">
	  </ion-input>
    </ion-item>
	<ion-item [hidden]="!ereignisbegruendung3 || !toggleVar">
	  <ion-label for="Ereignisbegruendung3">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="ereignisbegruendung3" name="Ereignisbegruendung3" 
	  (change)="updateEreignis('ereignis3', ereignis3, ereignisbegruendung3)" padding-left>
	  </ion-input>
	</ion-item>
    <ion-item [hidden]="!ereignis3">
      <ion-label stacked>Ereignis 4</ion-label>
      <ion-input type="text" placeholder="Optional hier Ihre viertes Ereignis eingeben" 
	  [(ngModel)]="ereignis4" name="ereignis4"
	  (change)="updateEreignis('ereignis4', ereignis4, ereignisbegruendung4)">
	  </ion-input>
    </ion-item>
	<ion-item [hidden]="!ereignisbegruendung4 || !toggleVar">
	  <ion-label for="Ereignisbegruendung4">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="ereignisbegruendung4" name="Ereignisbegruendung4" 
	  (change)="updateEreignis('ereignis4', ereignis4, ereignisbegruendung4)" padding-left>
	  </ion-input>
	</ion-item>
    <div [hidden]="!ereignisbegruendung1 && !ereignisbegruendung2
	&& !ereignisbegruendung3 && !ereignisbegruendung4" padding-bottom>
	  <ion-toggle float-right [(ngModel)]="toggleVar" name="ToggleVarEreignisse"></ion-toggle>
      <p float-right>Begründungen ein- und ausblenden: </p>
    </div>
  </ion-list> 
</div>

<div [hidden]='!toggleVarSchluesselfaktoren'>
    <ion-slides>
      <ion-slide [hidden]='!schluesselfaktor1'>
        <p>Nach links oder rechts schieben, um andere Schlüsselfaktoren anzuzeigen</p>
        <canvas #canvas1></canvas>
        <button ion-button (click)="clearCanvas1()">Zurücksetzen</button>
        <button ion-button (click)="drawCanvas1()">Zeichnen</button>
        <button ion-button (click)="eraseCanvas1()">Radieren</button>
      </ion-slide>
      <ion-slide [hidden]='!schluesselfaktor2'>
        <p>Nach links oder rechts schieben, um andere Schlüsselfaktoren anzuzeigen</p>
        <canvas #canvas2></canvas> 
        <button ion-button (click)="clearCanvas2()">Zurücksetzen</button>
        <button ion-button (click)="drawCanvas2()">Zeichnen</button>
        <button ion-button (click)="eraseCanvas2()">Radieren</button>
      </ion-slide>
      <ion-slide [hidden]='!schluesselfaktor3'>
        <p>Nach links oder rechts schieben, um andere Schlüsselfaktoren anzuzeigen</p>
        <canvas #canvas3></canvas> 
        <button ion-button (click)="clearCanvas3()">Zurücksetzen</button>
        <button ion-button (click)="drawCanvas3()">Zeichnen</button>
        <button ion-button (click)="eraseCanvas3()">Radieren</button>
      </ion-slide>
      <ion-slide [hidden]='!schluesselfaktor4'>
        <p>Nach links oder rechts schieben, um andere Schlüsselfaktoren anzuzeigen</p>
        <canvas #canvas4></canvas> 
        <button ion-button (click)="clearCanvas4()">Zurücksetzen</button>
        <button ion-button (click)="drawCanvas4()">Zeichnen</button>
        <button ion-button (click)="eraseCanvas4()">Radieren</button>
      </ion-slide>
      <ion-slide [hidden]='!schluesselfaktor5'>
        <p>Nach links oder rechts schieben, um andere Schlüsselfaktoren anzuzeigen</p>
        <canvas #canvas5></canvas> 
        <button ion-button (click)="clearCanvas5()">Zurücksetzen</button>
        <button ion-button (click)="drawCanvas5()">Zeichnen</button>
        <button ion-button (click)="eraseCanvas5()">Radieren</button>
      </ion-slide>
      <ion-slide [hidden]='!schluesselfaktor6'>
        <p>Nach links oder rechts schieben, um andere Schlüsselfaktoren anzuzeigen</p>
        <canvas #canvas6></canvas> 
        <button ion-button (click)="clearCanvas6()">Zurücksetzen</button>
        <button ion-button (click)="drawCanvas6()">Zeichnen</button>
        <button ion-button (click)="eraseCanvas6()">Radieren</button>
      </ion-slide>
    </ion-slides>
</div>


<!-- Ab hier findet die tatsächliche Szenrioerstellung statt. -->
<div>
<h4 padding-vertical float-left>Ihr Szenario</h4>
</div>
<!-- Das Hilfe-Icon wird nur angezeigt, wenn in SzenarioErstellungPage.hilfeAlert "alleine vorgehen"
ausgewählt wird. Wenn es angeklickt wird, wird wieder die hilfeAlert() Funktion aufgerufen, damit der User
notfalls zur Szenarioerstellung mit hilfe wechseln kann.-->
<div [hidden]="hilfeVar">
  <ion-icon name="help" float-left (click)="hilfeAlert()" padding-left></ion-icon>
</div>

<!-- Wenn der User sein Szenario ohne Hilfe erstellen will, wird ihm nur eine Textarea angezeigt (hilfeVar=false).
Es wird eine Form zur Kontrolle der Eingaben benutzt.-->
<form #ohneHilfeForm="ngForm">
  <ion-item [hidden]= "hilfeVar">
    <!-- Two-way data binding mittels ngModel und Aufruf der updateSzenariotext() Funktion, sobald eine Veränderung
    vorgenommen wird (change). Es wird eine Eingabe benötigt (required) und sie muss mindestens XX Zeichen lang sein-->
    <ion-textarea type="text" placeholder="Beschreiben Sie hier Ihr Szenario"
    [(ngModel)]="szenarioText" name="SzenarioText"
	(change)="updateSzenariotext(szenarioText, entwicklungText, endzustandText)"
	required minlength="15" #SzenarioText="ngModel">
    </ion-textarea>
  <!-- Wenn die Mindestlänge der Eingabe nicht erreicht ist, wird eine Fehlermeldung ausgegeben. -->
  </ion-item>
	<div *ngIf="SzenarioText.errors && (SzenarioText.dirty || SzenarioText.touched)"
    class="alert alert-danger">
      <div [hidden]="!SzenarioText.errors.minlength">
        <p>Ihr Szenario sollte mindestens 300 Zeichen lang sein</p>
      </div>
    </div>
</form>

<!-- Button der für den User ohne Hilfestellung (hilfeVar=false) erst dann klickbar ist,
wenn die ohneHilfeForm gültig ist.-->
<button ion-button [navPush]="szenariobewertungPage"
[disabled]="!ohneHilfeForm.form.valid" [hidden]="hilfeVar">Fertig - zur Bewertung</button>

<!-- Wenn der User sein Szenario mit Hilfe erstellen will, werden ihm drei Textareas angezeigt (hilfeVar=true), 
je eine für die Ausgangslage, für die Entwicklung und für den Endzustand seines Szenarios.
Es wird eine Form zur Kontrolle der Eingaben benutzt.-->
<form #mitHilfeForm="ngForm" [hidden]="!hilfeVar">  
  <ion-item  padding-bottom>
    <!-- Two-way data binding mittels ngModel und Aufruf der updateSzenariotext() Funktion, sobald eine Veränderung
    vorgenommen wird (change). Es wird eine Eingabe benötigt (required) und sie muss mindestens XX Zeichen lang sein-->
    <ion-label stacked>Ausgangslage</ion-label>
	<ion-textarea type="text" placeholder="Beschreiben Sie hier Ihre Ausgangslage"
    [(ngModel)]="ausgangslageText" name="AusgangslageText"
	(change)="updateSzenariotext(ausgangslageText, entwicklungText, endzustandText)"
	required minlength="15" #AusgangslageText="ngModel">
    </ion-textarea>
  </ion-item> 
  <!-- Wenn die Mindestlänge der Eingabe nicht erreicht ist, wird eine Fehlermeldung ausgegeben. -->  
	<div *ngIf="AusgangslageText.errors && (AusgangslageText.dirty || AusgangslageText.touched)"
    class="alert alert-danger">
      <div [hidden]="!AusgangslageText.errors.minlength">
        <p>Die Beschreibung Ihrer Ausgangslage sollte mindestens 300 Zeichen lang sein</p>
      </div>
    </div>
   <!-- Dieses div wird nur angezeigt, wenn toggleAusgangslage=true ist. ToggleAusgangslage kann durch
   das ion-toggle nach diesem div zwischen true und false hin- und hergeschaltet werden.   -->
   <div [hidden]="!toggleAusgangslage">
     <div>
       <ion-item float-left>
	     <!-- Hier wird ein variabler Text für das Dialogfeld angezeigt. Siehe 
		 SzenarioErstellungPage.ausgangslageDialog()-->
         <h5>{{ausgangslageDialogText}}</h5>
       </ion-item>   
     </div>
     <div>
       <ion-item>
	     <!-- Der nachfolgende Button wird erst angezeigt, wenn der Ausgangslagedialog schon bei der 
         zweiten Frage angekommen ist. Wird er geklickt, so wird die countBackward() Funktion aufgerufen.
		 An diese Funktion wird ein Argument übergeben, sodass die Funktion nur den ausgangslageCounter runter zählt-->
         <button ion-button [hidden]="ausgangslageCounter<2" (click)='countBackward("ausgangslage")'>Zurück</button>
	     <!-- Der nachfolgende Button wird nicht mehr angezeigt, wenn der Ausgangslagedialog bei der 
         letzten Frage angekommen ist. Wird er geklickt, so wird die countForward() Funktion aufgerufen.
		 An diese Funktion wird ein Argument übergeben, sodass die Funktion nur den ausgangslageCounter hoch zählt-->		 
         <button ion-button float-right [hidden]="ausgangslageCounter>3"
	     (click)='countForward("ausgangslage")'>Weiter</button>
	   </ion-item>
     </div>
   </div>
   <div>
     <!-- Mit diesem ion-toggle wird über ein two-way data binding toggleAusgangslage zwischen true und
     false hin- und hergeschaltet. Damit wird das Dialogfenster ein- und ausgeblendet. (Siehe vorangegangenes div)-->
     <p float-left>Dialogfenster ein- und ausblenden: </p>
	 <ion-toggle [(ngModel)]="toggleAusgangslage" name="ToggleAusgangslage"></ion-toggle>
   </div>
  <!-- Das folgende div wird erst angezeigt, wenn der entwicklungCounter größer als 1 ist.
  Dies ist der Fall, wenn die entwicklungsHilfe() Funktion aufgerufen wird.  -->
  <div [hidden]='entwicklungCounter<1'>
   <ion-item  padding-vertical>  
    <ion-label stacked >Entwicklung</ion-label>
	<!-- Der Rest des Endzustandes ist sehr ähnlich zum Code der Ausgangslage. Siehe Erklärung dort. -->
	<ion-textarea type="text" placeholder="Beschreiben Sie hier die Entwicklung Ihres Szenarios"
    [(ngModel)]="entwicklungText" name="EntwicklungText"
	(change)="updateSzenariotext(ausgangslageText, entwicklungText, endzustandText)"
	required minlength="15" #EntwicklungText="ngModel">
    </ion-textarea>
  </ion-item>
 	<div *ngIf="EntwicklungText.errors && (EntwicklungText.dirty || EntwicklungText.touched)"
    class="alert alert-danger">
      <div [hidden]="!EntwicklungText.errors.minlength">
        <p>Die Beschreibung Ihrer Entwicklung sollte mindestens 300 Zeichen lang sein</p>
      </div>
    </div>
	<div [hidden]="!toggleEntwicklung">
	  <div>
        <ion-item float-left >
          <h5>{{entwicklungDialogText}}</h5>
        </ion-item>   
      </div>
      <div>
	    <ion-item>
          <button ion-button [hidden]="entwicklungCounter<2" (click)='countBackward("entwicklung")'>Zurück</button>
          <button ion-button float-right  [hidden]="entwicklungCounter>3"
		  (click)='countForward("entwicklung")'>Weiter</button>
	    </ion-item>
      </div>
	</div>
    <div>
      <p float-left>Dialogfenster ein- und ausblenden: </p>
	  <ion-toggle [(ngModel)]="toggleEntwicklung" name="ToggleEntwicklung"></ion-toggle>
    </div>
  </div>
  <!-- Das folgende div wird erst angezeigt, wenn der endzustandCounter größer als 1 ist.
  Dies ist der Fall, wenn die endzustandHilfe() Funktion aufgerufen wird.  -->
  <div [hidden]='endzustandCounter<1'> 
   <ion-item padding-vertical>  
    <ion-label stacked >Endzustand</ion-label>
	<!-- Der Rest des Endzustandes ist sehr ähnlich zum Code der Ausgangslage. Siehe Erklärung dort. -->
	<ion-textarea type="text" placeholder="Beschreiben Sie hier die Entwicklung Ihres Szenarios"
    [(ngModel)]="endzustandText" name="EndzustandText"
	(change)="updateSzenariotext(ausgangslageText, entwicklungText, endzustandText)"
	required minlength="15" #EndzustandText="ngModel">
    </ion-textarea>
  </ion-item>
 	<div *ngIf="EndzustandText.errors && (EndzustandText.dirty || EndzustandText.touched)"
    class="alert alert-danger">
      <div [hidden]="!EndzustandText.errors.minlength">
        <p>Die Beschreibung Ihres Endzustandes sollte mindestens 300 Zeichen lang sein</p>
      </div>
    </div>
	<div [hidden]="!toggleEndzustand">
	  <div>
        <ion-item float-left>
          <h5>{{endzustandDialogText}}</h5>
        </ion-item>   
      </div>
      <div>
	    <ion-item>
          <button ion-button [hidden]="endzustandCounter<2" (click)='countBackward("endzustand")'>Zurück</button>
          <button ion-button float-right [hidden]="endzustandCounter>3"
		  (click)='countForward("endzustand")'>Weiter</button>
	    </ion-item>
      </div>
	</div>
    <div>
      <p float-left>Dialogfenster ein- und ausblenden: </p>
	  <ion-toggle [(ngModel)]="toggleEndzustand" name="ToggleEndzustand"></ion-toggle>
    </div>
  </div>
</form>

<!-- Button der für den User mit Hilfestellung (hilfeVar=true) erst dann klickbar ist,
wenn die mitHilfeForm gültig ist.-->
<button ion-button [navPush]="szenariobewertungPage"
[disabled]="!mitHilfeForm.form.valid" [hidden] = "!hilfeVar">Fertig - zur Bewertung</button>

<p> {{pageId}}</p>

<div padding-top>
  <ion-segment [(ngModel)]="kommunikation">
    <ion-segment-button value="kommentare">
      Kommentare
    </ion-segment-button>
    <ion-segment-button value="statistik">
      Statistik
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="kommunikation">
  <ion-list *ngSwitchCase="'kommentare'">
    <ion-item>
      <h4>Kommentar 1</h4>
	  <button ion-button>Antworten</button>
    </ion-item>
	<ion-item>
      <h4>Kommentar 2</h4>
	  <button ion-button>Antworten</button>
    </ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'statistik'">
    <ion-item>
      <h4>Entwicklung</h4>
	  <p> Punktzahl </p>
    </ion-item>
	<ion-item>
      <h4>Realitätsnahe</h4>
	  <p> Punktzahl </p>
    </ion-item>
  </ion-list> 
</div>


<disqus  [identifier] = "pageId" ></disqus>


</ion-content>
