<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
	<!-- Ausgabe des Userszenarios, dass bewertet werden soll. -->
    <ion-title>Szenariobewertung für {{currentSzenario?.username}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<!-- name der Form für die Validierung -->
<form #ratingForm="ngForm">
  <h4 padding-left>Beschreibung</h4>
  <p padding-left padding-bottom>Hier eine kurze Beschreibung</p>
  <h6 padding-left padding-bottom>Bitte geben Sie ihre Einschätzung für die folgenden Kriterien an:</h6>
  <ion-list padding-left>
    <h5>Entwicklung</h5>
	<!-- Hier werden die einzelnen Ratingkriterien jeweils als ioin-range
    abgefragt und eingegeben. Bei Veränderung der Werte wird durch (mouseup)
	die jeweilige Update() Funktion in ratingdetail.ts aufgerufen. (mouseup) wird hier verwendet,
  da nur ein Event ausgelöst wird, wenn die Maus losgelassen wird. Das sonst verwendete (ionChange),
  feuert bei jeder Veränderung des Ratings ein Event, was dazu führt, dass allein fünf Alerts
  ausgelöst werden würden, wenn der User von 0 zu 10 verfährt.
	(required) dient der Formvalidierung-->
    <p> Hier kurze Erklärung. Wie schätzen Sie die Entwicklung des Szenarios ein? </p>
      <ion-item>
        <ion-range [(ngModel)]="entwicklung" name="Entwicklung"
	    (mouseup)="updateEntwicklungDetail(entwicklung)" required>
          <ion-label range-left>Sehr negativ</ion-label>
          <ion-label range-right>Sehr positiv</ion-label>
        </ion-range>
      </ion-item>
    <h5>Realitätsnähe</h5>
    <p> Hier kurze Erklärung. Als wie realistisch schätzen Sie das Szenario ein? </p>
      <ion-item>
        <ion-range [(ngModel)]="realitaetsnaehe" name="Realitaetsnaehe"
	      (mouseup)="updateRealitaetsnaeheDetail(realitaetsnaehe)" required>
          <ion-label range-left>Sehr unrealistisch</ion-label>
          <ion-label range-right>Sehr realistisch</ion-label>
        </ion-range>
      </ion-item>
    <h5>Relevanz</h5>
    <p> Hier kurze Erklärung. Als wie relavant schätzen Sie das Szenario und dessen Problemdefinition ein? </p>	
      <ion-item>
        <ion-range [(ngModel)]="relevanz" name="Relevanz"
	      (mouseup)="updateRelevanzDetail(relevanz)" required>
          <ion-label range-left>Sehr irrelevant</ion-label>
          <ion-label range-right>Sehr relevant</ion-label>
        </ion-range>
      </ion-item>
    <h5>Ausführlichkeit</h5>
    <p> Hier kurze Erklärung. Wie ausführlich wurde das Szenario beschrieben? </p>
      <ion-item>
        <ion-range [(ngModel)]="ausfuehrlichkeit" name="Ausfuehrlichkeit"
        (mouseup)="updateAusfuehrlichkeitDetail(ausfuehrlichkeit)" required>
          <ion-label range-left>Sehr oberflächlich</ion-label>
          <ion-label range-right>Sehr ausführlich</ion-label>
        </ion-range>
      </ion-item>
    <h5>Zusammenhänge</h5>
    <p> Wie sehr würden Sie der folgenden Aussage zustimmen? </p> 
    <p> Das Szenario stellt Zusammenhänge zwischen den Schlüsselfaktoren, Annahmen, <br>
    Randbedingungen und überraschenden Ereignissen anschaulich dar. </p>
      <ion-item>
        <ion-range [(ngModel)]="zusammenhaenge" name="Zusammenhaenge"
	      (mouseup)="updateZusammenhaengeDetail(zusammenhaenge)" required>
          <ion-label range-left>Lehne stark ab</ion-label>
          <ion-label range-right>Stimme stark zu</ion-label>
        </ion-range>
      </ion-item>	
    <h5>Wiedersprüche</h5>
    <p> Wie sehr würden Sie der folgenden Aussage zustimmen? </p> 
    <p> Das Szenario ist widerspruchsfrei und in sich stimmig. </p>
      <ion-item>
        <ion-range [(ngModel)]="wiedersprueche" name="Wiedersprueche"
	      (mouseup)="updateWiederspruecheDetail(wiedersprueche)" required>
          <ion-label range-left>Lehne stark ab</ion-label>
          <ion-label range-right>Stimme stark zu</ion-label>
        </ion-range>
      </ion-item>	
    <h5>Faktenlage</h5>
    <p> Wie sehr würden Sie der folgenden Aussage zustimmen? </p> 
    <p> Das Szenario enthält hauptsächlich Fakten. Auf Schwafelei wird verzichtet. </p>
      <ion-item>
        <ion-range [(ngModel)]="faktenlage" name="Faktenlage"
	      (mouseup)="updateFaktenlageDetail(faktenlage)" required>
          <ion-label range-left>Lehne stark ab</ion-label>
          <ion-label range-right>Stimme stark zu</ion-label>
        </ion-range>
      </ion-item>
  </ion-list>
  <!-- Fehlernachricht, wenn nicht alle Kriterien bewertet wurden (required).-->
  <div [hidden]="ratingForm.form.valid">
    <p class="alert">Bitte geben Sie für ALLE Kriterien Ihre Einschätzung ab.</p>
  </div>  
</form>


<!-- Button kann erst geklickt werden, wenn alle Kriterien bewertet wurden. -->
<!-- Aufruf der updateAverage() Funktion. -->
<!-- Wenn showButtons false ist, also in "/commentData/szenarioId" noch keine
Daten hinterlegt sind, soll der User nur zur commentdetail.html navigieren 
können *ngIf="showButtons == false"-->


<button ion-button  *ngIf="showButtons == false"
[disabled]="!ratingForm.form.valid"
(click)="updateAverage()" (click)="goToCommentDetail(currentSzenario.id)">
Speichern und kommentieren</button>

<!-- Sobald Daten hinterlegt sind (also der User die Seite commentdetail schon einmal besucht hat),
kann er entweder zur SzenariodetailPage der SzenarioID navigieren (und dort ggf.kommentieren)
 oder wieder zurück zu Homepage -->
<div>
  <button ion-button  *ngIf="showButtons == true"
  [disabled]="!ratingForm.form.valid"
  (click)="updateAverage()" (click)="goToRootPage()">Zur Homepage</button>

  <button ion-button
  [disabled]="!ratingForm.form.valid" *ngIf="showButtons == true"
  (click)="updateAverage()" (click)="goToSzenarioDetail()">
  Szenario von {{currentSzenario?.username}} ansehen</button>
</div>

</ion-content>
