<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Annahmen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<p>Was sind Annahmen in diesem Fall? Hier evtl. noch toggle Beispiele einfügen und besser erklären, was gemeint ist </p>
<p>Welche Annahmen treffen Sie für Ihr Szenario?</p>
<p>Geben Sie mindestens 2 Annahmen ein:</p>

<!-- Form zur Überprüfung der Eingabefelder. -->
<form #annahmenForm="ngForm">
  <ion-list>
    <ion-item>
      <ion-label stacked for="Annahme1">Annahme 1</ion-label>
	    <!-- Textarea mit placeholder. Two way Data Binding mit [(ngModel)].
      Die updateAnnahme() Funktion wird jedes mal aufgerufen, wenn der Text im Eingabefeld geändert wird.
		  Es werden drei Argumente übergeben. Der Pfad, in welchem die Information gespeichert werden
      soll, wird als string übergeben. Danach wird die Annahme an sich und deren Begründung übergeben.
		  Es ist eine Eingabe erforderlich (required), die mindestens 20 und maximal 100 Zeichen lang
		  sein darf (min- und maxlenght). -->
      <ion-textarea type="text" placeholder="Hier Ihre erste Annahme eingeben" 
	    [(ngModel)]="annahme1" name="Annahme1" (change)="updateAnnahme('annahme1', annahme1, begruendung1)"
	    required minlength="20" maxlength="100" #Annahme1="ngModel" fz-elastic>
	    </ion-textarea>
    </ion-item>
	<!-- Wenn die Anforderungen an die Annahmen nicht erfüllt sind, werden unter dem Eingabefeld entsprechende
  Fehlermeldungen angezeigt. .dirty und .touched sind dafür zuständig, keine Fehlermeldung
  auszugeben, solange der User noch die Eingabe tätigt. -->
	<div *ngIf="Annahme1.errors && (Annahme1.dirty || Annahme1.touched)"
    class="alert alert-danger">
	  <div [hidden]="!Annahme1.errors.required">
        <p>Bitte geben Sie eine Annahme ein.</p>
      </div>
      <div [hidden]="!Annahme1.errors.minlength">
        <p>Ihre Annahme sollte mindestens 20 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Annahme1.errors.maxlength">
        <p>Ihre Annahme sollte nicht länger als 100 Zeichen  sein</p>
      </div>
    </div>
	<!-- Das Eingabefeld der Begründung ist versteckt, solange keine Begründung eingegeben wurde oder
  wenn ein Button gedrückt wird, der toggleVar auf true stellt. (Siehe Button am ende der ion-list)
  Auch die Begründung wird bei jeder Änderung innerhalb des Eingabefeldes durch updateAnnahme() aktualisiert. -->
	<ion-item [hidden]="!begruendung1 || !toggleVar">
	  <ion-label for="Begruendung1">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="begruendung1" name="Begruendung1" 
	  (change)="updateAnnahme('annahme1', annahme1, begruendung1)" padding-left>
	  </ion-input>
	</ion-item>
    <ion-item>
      <ion-label stacked for="Annahme2">Annahme 2</ion-label>
      <ion-textarea type="text" placeholder="Hier Ihre zweite Annahme eingeben" 
	    [(ngModel)]="annahme2" name="Annahme2" (change)="updateAnnahme('annahme2', annahme2, begruendung2)"
	    required minlength="20" maxlength="100" #Annahme2="ngModel" fz-elastic>
	    </ion-textarea>
    </ion-item>
	<div *ngIf="Annahme2.errors && (Annahme2.dirty || Annahme2.touched)"
    class="alert alert-danger">
	  <div [hidden]="!Annahme2.errors.required">
        <p>Bitte geben Sie eine Annahme ein.</p>
      </div>	  
      <div [hidden]="!Annahme2.errors.minlength">
        <p>Ihre Annahme sollte mindestens 20 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Annahme2.errors.maxlength">
        <p>Ihre Annahme sollte nicht länger als 100 Zeichen  sein</p>
      </div>
    </div>
	<ion-item [hidden]="!begruendung2 || !toggleVar">
	  <ion-label for="Begruendung2">Begründung:</ion-label>
	  <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
	  [(ngModel)]="begruendung2" name="Begruendung2" 
	  (change)="updateAnnahme('annahme2', annahme2, begruendung2)" padding-left>
	  </ion-input>
	</ion-item>
	<!-- Das Eingabefeld der dritten Annahme ist versteckt, solange die zweite Annahme noch nicht beschriben ist. -->
    <ion-item [hidden]="!annahme2">
      <ion-label stacked for="Annahme3">Annahme 3</ion-label>
      <ion-textarea type="text" placeholder="Optional hier Ihre dritte Annahme eingeben" 
	    [(ngModel)]="annahme3" name="Annahme3" (change)="updateAnnahme('annahme3', annahme3, begruendung3)"
	    minlength="20" maxlength="100" #Annahme3="ngModel" fz-elastic>
	    </ion-textarea>
    </ion-item>
	<div *ngIf="Annahme3.errors && (Annahme3.dirty || Annahme3.touched)"
    class="alert alert-danger">
      <div [hidden]="!Annahme3.errors.minlength">
        <p>Ihre Annahme sollte mindestens 20 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Annahme3.errors.maxlength">
        <p>Ihre Annahme sollte nicht länger als 100 Zeichen  sein</p>
      </div>
   </div>
   <ion-item [hidden]="!begruendung3 || !toggleVar">
     <ion-label for="Begruendung3">Begründung:</ion-label>
     <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
     [(ngModel)]="begruendung3" name="Begruendung3" 
	   (change)="updateAnnahme('annahme3', annahme3, begruendung3)" padding-left>
     </ion-input>
   </ion-item>
   <ion-item [hidden]="!annahme3">
    <ion-label stacked for="Annahme4">Annahme 4</ion-label>
      <ion-textarea type="text" placeholder="Optional hier Ihre vierte Annahme eingeben" 
	    [(ngModel)]="annahme4" name="Annahme4" (change)="updateAnnahme('annahme4', annahme4, begruendung4)"
	    minlength="20" maxlength="100" #Annahme4="ngModel" fz-elastic>
	    </ion-textarea>
    </ion-item>
	<div *ngIf="Annahme4.errors && (Annahme4.dirty || Annahme4.touched)"
    class="alert alert-danger">
      <div [hidden]="!Annahme4.errors.minlength">
        <p>Ihre Annahme sollte mindestens 20 Zeichen lang sein</p>
      </div>
      <div [hidden]="!Annahme4.errors.maxlength">
        <p>Ihre Annahme sollte nicht länger als 100 Zeichen  sein</p>
      </div>
   </div>
   <ion-item [hidden]="!begruendung4 || !toggleVar">
     <ion-label for="Begruendung4">Begründung:</ion-label>
     <ion-input type="text" placeholder="Hier Ihre Begründung eingeben"
     [(ngModel)]="begruendung4" name="Begruendung4"
	   (change)="updateAnnahme('annahme4', annahme4, begruendung4)" padding-left>
     </ion-input>
   </ion-item>
   <!-- Solange keine Begründungen eingegeben wurden, ist der Toggle-Button, um die Begründungen ein und 
        auszublenden, versteckt.   -->
   <!-- Der Toggle-Button soll an der rechten Seite angezeigt werden (float-right). Er zeigt und versteckt
   über [(ngModel)]="toggleVar" die Begründungen.	 -->
   <div [hidden]="!begruendung1 && !begruendung2 && !begruendung3 && !begruendung4" padding-bottom>
	 <ion-toggle float-right [(ngModel)]="toggleVar" name="ToggleVarAnnahmen"></ion-toggle>
     <p float-right>Begründungen ein- und ausblenden: </p>
   </div>
  </ion-list>
</form>

<!-- Button zur Navigation zur RandbedingungenPage. Dieser Button wird erst klickbar, wenn die Anforderungen für die
Annahmen erfüllt sind. -->
<button ion-button [navPush]="randbedingungenPage"
[disabled]="!annahmenForm.form.valid">Weiter</button>

</ion-content>
