<ion-header>
  <ion-navbar>
    <ion-title>
      Create an Account
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address" 
        [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>Bitte geben Sie eine gültige E-Mail Adresse ein.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Passwort</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password" 
        [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>Ihr Passwort muss mehr als 6 Zeichen lang sein.</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!signupForm.valid">
      Account jetzt erstellen.
    </button>
	
	<p> Rechtlicher Hinweis (jan nach einem wissenschaftlichen beleg dafür fragen): <br>
    Die folgenden Daten werden innerhalb dieser App verarbeitet und nicht an Dritte <br>
    weitergegeben. Nur ihr Username wird für andere sichtbar sein. <br>
    Bitte geben Sie diese also.mögöivhst vollständig an. Die Produktqualität <br>
    kann dadurch verbessert werden. </p>
	
  </form>
</ion-content>





