<ion-header>
  <ion-navbar>
    <ion-title>
      Erstellen Sie einen Account
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <h4>
      Herzlich Wilkommen zu Thinknario!
    </h4>
    <h6>
      Erstellen Sie sich hier mit Ihrer E-Mail-Adresse und Ihrem Passwort Ihren Account.
    </h6>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Ihre E-Mail Adresse" 
        [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>Bitte geben Sie eine gültige E-Mail Adresse ein.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Passwort</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Ihr Password" 
        [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>Ihr Passwort muss mehr als 6 Zeichen lang sein.</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!signupForm.valid">
      Account jetzt erstellen.
    </button>
	

	
  </form>
</ion-content>





